streamlit
ollama
jupyter-notebook 
ikernel
langchain_openai
imagine
janus
pydantic
mcp
crewai
PIL
openai
torch
transformers
langchain[openai]
langchain[mistralai]
langchain-community
langgraph
langchain-core